.container {
    padding: 20px;
    text-align: center;
  }
  
  button {
    background-color: #2988b5;
    color: white;
    border: none;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #1b5875;
  }
  